<div class="col-lg-3">
    <div class="card bg-dark">
        <div class="testimonial-widget-one p-17">
            <div class="testimonial-widget-one owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/2.jpg' %}" alt="" />
                        <div class="testimonial-author">John</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                        <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/3.jpg' %}" alt="" />
                        <div class="testimonial-author">Abraham</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                        <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/1.jpg' %}" alt="" />
                        <div class="testimonial-author">Lincoln</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                        <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/4.jpg' %}" alt="" />
                        <div class="testimonial-author">TYRION LANNISTER</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                       <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/5.jpg' %}" alt="" />
                        <div class="testimonial-author">TYRION LANNISTER</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                        <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <img class="testimonial-author-img" src="{% static 'dashboard/images/avatar/6.jpg' %}" alt="" />
                        <div class="testimonial-author">TYRION LANNISTER</div>
                        <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                        <div class="testimonial-text">
                            <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>