{% extends "dashboard/index.html" %}

{% block content %}
  <div class="row justify-content-center">


          <div class="col-lg-4">
              <div class="login-content card">
                  <div class="login-form">
                      <h4>Connexion{{ test }}</h4>
                      <form method="post" action="{% url 'login' %}">

                          {% csrf_token %}

                          <div class="form-group">
                              {{ form }}
                          </div>
                          <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Se connecter</button>

                      </form>
                  </div>
              </div>
          </div>
      </div>



{% endblock %}